@model ApiBinance.Models.ChatMessagesQueryParams

<h1>Ver Mensajes de Chat</h1>

<form asp-action="GetChatMessages" method="get">
    @Html.EditorForModel()
    <button type="submit">Buscar Mensajes</button>
</form>
